.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftColumn {
  flex: 1;
  text-align: center;
}

.sheader {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center; 
}

.sheader .blur {
  position: relative;
  flex: 1;
  justify-content: center; 
}

.poster img {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mtipoEstrelas {
  position: absolute;
  top: 10px;
  left: 45%; /* Ajusta para centralizar horizontalmente */
  transform: translateX(-50%); /* Compensa o deslocamento causado pelo `left: 50%` */
  font-size: 1.5rem;
  color: #ffd700;
  display: flex;
  align-items: center;
}

.mtipoEstrelas i {
  margin-right: 5px;
}

.data h1 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #fff;
}

/* Container dos gêneros */
.genresContainer {
  flex-wrap: wrap;
  gap: 10px; 
  margin-bottom: 15px;
}

.genreItem {
  gap: 10px;
  padding: 5px 10px;
  background-color: #333; 
  border-radius: 2px; 
  font-size: 14px;
  color: #fff;
  margin: 2px 0; 
  transition: background-color 0.3s;
}

.genreItem:hover {
  background-color: #007acc; 
}

.extra {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #ccc;
}

/* Botões container */
.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.actionButton {
  flex: 1;
  padding: 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.actionButton:hover {
  background-color: #005fa3;
}

/* Barra de pesquisa */
.searchContainer {
  margin-bottom: 20px;
}

.searchInput {
  width: 98%;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

/* episódios container */
.episodesContainer {
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

.episodesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.episodeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(78, 77, 77);
}

.episodeItem:last-child {
  margin-bottom: 0;
}

.imageContainer {
  flex-shrink: 0;
  width: 150px;
  height: 90px;
  margin-right: 10px;
}

.episodeImage {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.episodeDetails {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}

.episodeTitle {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.episodeTitle:hover {
  text-decoration: underline;
}

.releaseDate {
  font-size: 12px;
  color: #888;
  white-space: nowrap;
}

.noEpisodes {
  color: red;
  font-size: 14px;
}

/* Coluna Direita: Recomendações */
.rightColumn {
  overflow-x: hidden;
  width: 350px;
  padding: 1rem;
  color: #FFF;
  background-color: #1c1c1c;
}

.rightColumn a {
  color: inherit;
  text-decoration: none;
}

.rightColumn h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.recommendationsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendationItem {
  display: flex; 
  margin-bottom: 16px;
  overflow: hidden;
  border-bottom: 1px solid rgb(78, 77, 77);
}

.recommendationContent {
  display: flex;
  align-items: flex-start; 
  width: 100%;
  padding: 8px;
}

.recommendationImage {
  width: 80px;
  height: 100px;
  object-fit: cover;
  margin-right: 12px;
  flex-shrink: 0; 
}

.recommendationDetails {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  flex-grow: 1;
}

.recommendationName {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
  max-width: 200px;
}

.recommendationName:hover {
  color: #007acc;
}

.recommendationDate {
  font-size: 0.85rem; /* Deixa a data menor que o nome */
  color: #666;
  margin-top: 4px; /* Espaçamento entre o nome e a data */
}

.noRecommendations {
  font-size: 1.1rem;
  color: #FFFFFF;
  text-align: center;
}
