.header {
  border: none;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.5rem 3.75rem;
  max-width: 100%; /*TODO: estava 1520px*/
  max-height: 3.75rem; /*TODO: estava 60px*/
  background-color: #23252B;
  color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
  background-color: #23252B;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerMenu {
  display: flex;
  align-items: center;
  margin-left: 0; 
  color: #FFF;
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-right: 20px; 
  position: relative;
}

.navItem a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
}


.headerActions {
  display: flex;
  align-items: center;
  margin-left: auto; 
  color: #FFF;
}

.headerActions {
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 16px; /* Espaçamento entre os ícones */
}

.ercHeaderSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 24px;
  color: #FFF;
}


.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconBookmark, .headerSvgIcon {
  fill: #FFF;
  width: 24px;
  height: 24px;
  margin-left: 0px; /* Distância entre os ícones */
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #141519;
  width: 700px; /* Largura total do menu */
  top: 180%;
  left: 0;
  padding: 0px;
  z-index: 100;
}

/* Estilo para as colunas dentro do dropdown */
.menuContent {
  display: flex;
  width: 100%;
}

/* Coluna de Categorias (Popular, Novidades, A-Z) */
.categoriesColumn {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 10px;
}

/* Títulos das colunas */
.categoryTitle {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* Estilo do link nas colunas */
.categoriesColumn a {

  color: #fff;
  padding: 6px;
  text-decoration: none;
  margin-bottom: 8px;
}

.categoriesColumn a:hover {
  background-color: #23252B;
}

/* Divisória entre as colunas */
.divider {
  border-right: 2px solid #23252B;
  margin: 0 20px;
  height: 100%;
}

/* Coluna de Gêneros */
.genresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 15px;
}

/* Estilo do link nas colunas de Gêneros */
.genresColumn a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 10px 5px;
  text-decoration: none;
 
}

.genresColumn a:hover {
  background-color: #23252B;
}

/* Título "Gêneros" */
.genresSection {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.genresTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: gray;
  margin-bottom: 6px;
  text-align: left; 
  padding: 4px 4px;
  font-size: 14px;
}

.newsDropdown {
  width: 220px;
}

.newsDropdown a {
  font-family: 'Roboto', sans-serif;

}

.titleNavegation {
  color: #FFF;
}

.titleNews {
  color: #FFF;
}


/* Para telas maiores (tablet, desktop) */
@media (min-width: 769px) {
  
}