.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 17px); /* Evita sobreposição com a barra de rolagem */
  height: 60px;
  background-color: #23252B;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 1000;
}


.container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
  background-color: #23252B;
}

.headerLogo {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.logoContainer {
  width: 136;
  height: 60px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logo {
  width: 133;
  height: 21px;
  object-fit: cover;
}

.headerLogo .logoContainer:hover .logo {
  filter: brightness(0) invert(1); /* Para imagens */
  transition: filter 0.3s ease;
}

.headerMenu {
  display: flex;
  align-items: center;
  margin-left: 0; 
  color: #FFF;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburgerHeader {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  padding: 0 16px; 
}

.hamburgerIcon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 2;
}

.hamburgerIcon svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  color: #ffffff;
}












.logoMobileContainer {
  padding: 15px;
}

.headerLogoMobile {
  display: none;
  margin-left: 20px;
}

.header-svg-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff; 
}

.hamburgerLinks {
  position: absolute; 
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #333; 
  color: #fff; 
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.hamburgerLinks a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.hamburgerLinks a:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-right: 20px; 
  position: relative;
}

.navItem a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.headerActions {
  display: flex;
  align-items: center;
  margin-left: auto; 
  color: #FFF;
}

.headerActions {
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ercHeaderSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 24px;
  color: #FFF;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconBookmark, .headerSvgIcon {
  fill: #FFF;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #141519;
  width: 700px; 
  top: 180%;
  left: 0;
  padding: 0px;
  z-index: 100;
}

/* Estilo para as colunas dentro do dropdown */
.menuContent {
  display: flex;
  width: 100%;
}

/* Coluna de Categorias (Popular, Novidades, A-Z) */
.categoriesColumn {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 10px;
}

/* Títulos das colunas */
.categoryTitle {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* Estilo do link nas colunas */
.categoriesColumn a {

  color: #fff;
  padding: 6px;
  text-decoration: none;
  margin-bottom: 8px;
}

.categoriesColumn a:hover {
  background-color: #23252B;
}

/* Divisória entre as colunas */
.divider {
  border-right: 2px solid #23252B;
  margin: 0 20px;
  height: 100%;
}

/* Coluna de Gêneros */
.genresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 15px;
}

/* Estilo do link nas colunas de Gêneros */
.genresColumn a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 10px 5px;
  text-decoration: none;
 
}

.genresColumn a:hover {
  background-color: #23252B;
}

/* Título "Gêneros" */
.genresSection {
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.genresTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: gray;
  margin-bottom: 6px;
  text-align: left; 
  padding: 4px 4px;
  font-size: 14px;
}

.newsDropdown {
  width: 220px;
}

.newsDropdown a {
  font-family: 'Roboto', sans-serif;

}

.titleNavegation {
  color: #FFF;
}

.titleNews {
  color: #FFF;
}


/* Para telas maiores (tablet, desktop) */
@media (max-width: 768px) {
  #games {
    display: none;
  }

  .header {
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0.5rem 0.2rem;
    max-width: 100%;
    max-height: 3.75rem;
    background-color: #23252B;
    color: #FFFFFF;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #23252B;
  }

  .headerLogo {
    display: flex;
    align-items: center;
    margin-right: auto; 
  }

  .headerLogoMobile {
    display: block;
  }

  .headerMenu {
    display: flex;
    align-items: center;
    margin-left: 0;
    color: #FFF;
  }

  .navLinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
  }

  .navItem {
    margin-right: 20px;
    position: relative;
  }

  .navItem a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .headerActions {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #FFF;
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 16px; 
  }

  .ercHeaderSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 24px;
    color: #FFF;
  }

  .searchContainer {
    display: flex;
    align-items: center;
  }

  .searchButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .iconBookmark, .headerSvgIcon {
    fill: #FFF;
    width: 24px;
    height: 24px;
    margin-left: 0px;
    cursor: pointer;
  }

  .dropdownMenu {
    display: flex;
    flex-direction: column; 
    position: absolute;
    background-color: #141519;
    width: 100%; 
    top: 180%;
    left: 0;
    padding: 0px;
    z-index: 100;
  }

  .menuContent {
    display: flex;
    flex-direction: column; 
    width: 100%;
  }

  .categoriesColumn {
    display: flex;
    flex-direction: column;
    margin-right: 0; 
    padding: 10px;
  }

  .categoryTitle {
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }

  .categoriesColumn a {
    color: #fff;
    padding: 6px;
    text-decoration: none;
    margin-bottom: 8px;
  }

  .categoriesColumn a:hover {
    background-color: #23252B;
  }

  .divider {
    border-right: none; 
    margin: 0;
    height: 100%;
  }

  .genresGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .genresColumn a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
  }

  .genresColumn a:hover {
    background-color: #23252B;
  }

  .genresSection {
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .genresTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: gray;
    margin-bottom: 6px;
    text-align: left;
    padding: 4px 4px;
    font-size: 14px;
  }

  .newsDropdown {
    width: 100%;
  }

  .newsDropdown a {
    font-family: 'Roboto', sans-serif;
  }

  .titleNavegation {
    color: #FFF;
  }

  .titleNews {
    color: #FFF;
  }
}