/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.seeAll {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007BFF;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

.seeAll:hover {
  text-decoration: underline;
}

/* Contêiner de episódios */
.episodesContainer {
  padding: 20px;
  border-bottom: 1px solid rgb(78, 77, 77);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.episodeCard {
  position: relative;
  cursor: pointer;
}

.episodeImageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.episodeImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Efeito de foco */
.episodeCard:hover .episodeImageContainer img {
  transform: scale(1.1);
}

.episodeLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Remover a segunda definição da classe playButton que está com o fundo escuro */

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.playButton .playIcon {
  font-size: 60px;
  color: white;
  /* Remover o fundo e a borda */
  background-color: transparent;  /* Fundo transparente */
  border-radius: 0;  /* Sem borda arredondada */
  padding: 0;  /* Sem espaçamento */
}

/* Exibe o botão de play quando o mouse está sobre a imagem */
.episodeCard:hover .playButton {
  opacity: 1;
}

/* Label de Lançamento */
.lancamentoLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}


/* Exibe o botão de play quando o mouse está sobre a imagem */
.episodeCard:hover .playButton {
  opacity: 1;
}

/* Label de Lançamento */
.lancamentoLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #005bb5;
}

.pagination button.active {
  background-color: #003c8c;
}
