.letter_home {
  border-bottom: 1px solid rgb(78, 77, 77);
  position: relative; /* Permite o posicionamento do carrossel sobre esta área */
}

.letter_home a {
  text-decoration: none;
  color: inherit;
}

.fixresp {
  max-width: 1200px;
  margin: 0 auto;
}

.glossary {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
  justify-content: center;
}

.lglossary {
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.lglossary:hover {
  background-color: #0056b3;
}

.items_glossary {
  margin-top: 20px;
}

.anime_card {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  width: 200px; /* Definindo a largura do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.anime_image {
  width: 100%; /* Imagem ocupa toda a largura do card */
  height: 200px; /* Definindo altura fixa para imagem */
  object-fit: cover; /* Assegura que a imagem cubra o card sem distorção */
  border-radius: 4px;
}

.anime_details {
  text-align: center;
  width: 100%; /* Garante que o conteúdo ocupe toda a largura do card */
}

.anime_details h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Garante que o texto que ultrapassa o espaço seja ocultado */
  text-overflow: ellipsis; /* Adiciona "..." no final se o texto for muito longo */
  text-align: center;
}

.anime_details p {
  font-size: 14px;
  color: #555; /* Cor mais suave para o texto */
}

.lglossary {
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}

.lglossary.active {
  color: #f44336;
  font-weight: bold;
}

/* Estilo do carrossel */
.carouselOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-x: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.carousel {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: flex-start; /* Para alinhar os cards à esquerda */
}

.anime_card {
  width: 200px; /* Garantir que os cards tenham uma largura consistente */
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.anime_card:hover {
  transform: translateY(-10px); /* Efeito sutil de hover */
}

.anime_image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.anime_details h3 {
  font-size: 16px;
  margin-top: 10px;
}

.anime_details p {
  font-size: 14px;
  color: #777;
}
