/* Garantir que a largura da página seja 100% e que nenhum elemento transborde */
* {
  box-sizing: border-box; /* Impede que o padding e as bordas aumentem o tamanho total */
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* Para navegadores como Firefox */
html {
  scrollbar-width: thin; /* Largura da barra de rolagem: thin | auto | none */
  scrollbar-color: #686868 #424242; /* thumb-color track-color */
}

/* Garante que a página não tenha rolagem horizontal */
body, html {
  overflow-x: hidden; /* Remove o scroll horizontal */
  margin: 0;
  padding: 0;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* scroll */
/* Estilo geral para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #686868; /* Cor do "thumb" (parte arrastável) */
  border-radius: 10px; /* Arredondamento das extremidades */
  border: 3px solid #424242; /* Espaço ao redor do thumb */
}

::-webkit-scrollbar-track {
  background-color: #424242; /* Cor do fundo do track (trilho da rolagem) */
  border-radius: 10px; /* Arredondamento do track */
}


.home-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;*/
}

.anime-carousel-fullscreen {
  position: relative; /* Não use absoluto */
  height: 100vh; /* Continua ocupando a tela inteira */
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.anime-carousel-lancamentos {
  position: relative; /* Certifique-se de que está no fluxo normal */
  margin-top: -14vh; /* Sobrepõe parcialmente o fullscreen */
  /* margin: auto -10vh; */
  /* padding: 20px; */
  z-index: 2;
  backdrop-filter: blur(2px); /* Desfoque no fundo */
}

.anime-carousel-popular-season {
  
  /* margin: auto -10vh; */
  /* padding: 20px; */
  
  backdrop-filter: blur(2px); /* Desfoque no fundo */
}

.anime-carousel-popular {
  position: relative; /* Certifique-se de que está no fluxo normal */

  /* margin: auto -10vh; */
  /* padding: 20px; */
  z-index: 2;
  backdrop-filter: blur(2px); /* Desfoque no fundo */
}

.movie-card {
  
  /* margin: auto -10vh; */
  /* padding: 20px; */
  
  backdrop-filter: blur(2px); /* Desfoque no fundo */
}

.outdoor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa a altura total da tela */
  text-align: center; /* Centraliza o texto */
  flex-direction: column; /* Garante que o título fique acima do card */
}

.outdoor-container h1 {
  margin-bottom: 20px; 
}
