* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

#root {
  height: 100%;
}

/* Para navegadores como Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #686868 #424242;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 60px;
  color: #FFFFFF;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* scroll */
/* Estilo geral para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #686868; 
  border-radius: 10px; 
  border: 3px solid #424242;
}

::-webkit-scrollbar-track {
  background-color: #424242;
  border-radius: 10px; 
}


.home-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;*/
}

.anime-carousel-fullscreen {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.anime-carousel-lancamentos {
  position: relative; 
  margin-top: -13.8vh;
  /* margin: auto -10vh; */
  /* padding: 20px; */
  z-index: 2;
  backdrop-filter: blur(2px);
}

.anime-carousel-popular-season {
  /* margin: auto -10vh; */
  /* padding: 20px; */
  backdrop-filter: blur(2px);
}

.anime-carousel-popular {
  position: relative; 
  /* margin: auto -10vh; */
  /* padding: 20px; */
  z-index: 2;
  backdrop-filter: blur(2px);
}

.movie-card {
  /* margin: auto -10vh; */
  /* padding: 20px; */
  backdrop-filter: blur(2px);
}

.outdoor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

.outdoor-container h1 {
  margin-bottom: 20px; 
}

.container--cq5XE {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 50px;
  padding-bottom: 80px;
}

.erc-view-all-feed-section {
  text-align: center; 
}

.view-all-feed-image {
  max-width: 100%;
  height: auto; 
}

.heading {
  padding-bottom: 40px;
}

.button {
  margin-top: 20px;
  text-decoration: none;
}

.viewAll {
  padding: 10px 20px;
  border: 2px solid #ff640a;
  color: #ff640a;
  text-decoration: none;
}