/* Estilos globais no seu arquivo global.css ou equivalente */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.home-container {
  /* justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;  */
}

.anime-carousel-fullscreen {
  position: relative; /* Não use absoluto */
  height: 100vh; /* Continua ocupando a tela inteira */
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.anime-carousel-lancamentos {
  position: relative; /* Certifique-se de que está no fluxo normal */
  margin-top: -17vh; /* Sobrepõe parcialmente o fullscreen */
  /* margin: auto -10vh; */
  /* padding: 20px; */
  z-index: 2;
  backdrop-filter: blur(2px); /* Desfoque no fundo */
}


