.searchPage {
  display: flex;
  flex-direction: column;  /* Mudamos para coluna para garantir que o conteúdo fique empilhado */
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding-top: 20px;  /* Espaçamento superior */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; /* Garantir que o input fique ao topo */
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espaço entre o input e os resultados */
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid gray;
}

.searchInput:focus {
  outline: none; /* Remove a borda padrão */
  border: none;
  border-bottom: 1px solid orangered;
}

.searchButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #005bb5;
}

.resultsContainer {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

.results {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.resultItem:hover {
  background-color: #f0f0f0;
}

.resultContent {
  display: flex;
  align-items: center;
}

.resultImage {
  border-radius: 8px;
  margin-right: 10px;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.resultName {
  font-weight: bold;
}

.resultScore {
  font-size: 14px;
  color: #555;
}

.loading {
  text-align: center;
  color: #888;
  font-size: 16px;
}
