/* Container para a grid de resultados */
.resultsContainer {
  display: grid;
  gap: 16px;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

/* Outros estilos da página */
.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #141519;
  padding-top: 20px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 20px;
}

.searchInput {
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 32px;
  background-color: #141519;
  border-bottom: 1px solid gray;
}

.searchInput:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid orangered;
}

/* Estilos do botão de pesquisa */
.searchButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #005bb5;
}

/* Estilos para os itens de resultado */
.results {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.resultItem:hover {
  background-color: #f0f0f0;
}

.resultContent {
  display: flex;
  align-items: center;
}

.resultImage {
  border-radius: 8px;
  margin-right: 10px;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.resultName {
  font-weight: bold;
}

.resultScore {
  font-size: 14px;
  color: #555;
}

.loading {
  text-align: center;
  color: #888;
  font-size: 16px;
}
