.anime-carousel-lancamentos {
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: center; /* Centraliza o texto horizontalmente */
}

.titulo {

  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 30px;
}

.subtitulo {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ccc;
  padding-left: 30px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .carouselContainer {
    padding-bottom: 40px; /* Ajusta o padding para telas menores */
  }
}

/* Responsividade para dispositivos muito pequenos */
@media (max-width: 480px) {
  .carouselContainer {
    padding-bottom: 20px; /* Ajusta ainda mais o padding em telas muito pequenas */
  }
}
