.anime-carousel-popular-season {
  padding: 0 20px; /* Adiciona espaçamento lateral */
  text-align: center; /* Centraliza o texto horizontalmente */
}

.titulo {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 62px;
}

.subtitulo {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ccc;
  padding-left: 62px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .anime-carousel-lancamentos {
    padding: 0 20px; /* Adiciona espaçamento lateral */
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  
  .titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
    padding-left: 20px;
  }
  
  
  .subtitulo {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: #ccc;
    padding-left: 20px;
  }
}

/* Responsividade para dispositivos muito pequenos */
@media (max-width: 480px) {
  .carouselContainer {
    padding-bottom: 20px; /* Ajusta ainda mais o padding em telas muito pequenas */
  }
}