.popularContainer {
  padding: 20px;
}

.header {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  position: relative;
}

.header h1 {
  font-size: 1.5rem; 
  font-weight: bold;
}

.filters {
  width: 100%;
  max-width: 160px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  align-items: center;
}

.filters button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #23252B;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #dcdcdc;
}

.filterOptions {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #23252B;
  padding: 10px;
  z-index: 10;
}

.filterOptions button {
  color: #FFF;
  background-color: #23252B;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.title {
  font-size: 1.5rem; 
  font-weight: bold;
}

.maisPopulares {
  cursor: pointer;
}

.svgIcon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  fill: white;
}

.popularTitle {
  padding-left: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h1 {
    font-size: 1.25rem;
  }

  .filters {
    width: 100%; 
    align-items: flex-start;
  }

  .popularTitle {
    padding-left: 1rem; 
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1rem; 
  }

  .filters button {
    padding: 8px 12px; 
  }

  .filterOptions button {
    padding: 8px 12px;
  }
}
